<%= form_for [@company, @job] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :level_of_interest %>
  <%= f.number_field :level_of_interest %>

  <%= f.collection_select :category_id, @categories.order(:id),:id,:title, options = {:prompt => "Category"}%>

  <%= f.submit %>
<% end %>

<p><%= link_to "New Category", new_category_path %></p>
