All Jobs for <strong><%= @company.name %></strong>

<% @jobs.each do |job| %>
  <ul>
    <li class=job_<%= job.id %>><p><%= link_to "#{job.title} at #{job.company.name}", company_job_path(@company, job) %></p>
    <p><%= link_to "Edit", edit_company_job_path(@company, job) %> <%= link_to "Delete", company_job_path(@company, job), method: :delete %></p></li>
  </ul>
<% end %>

<p><%= link_to "New job at #{@company.name}", new_company_job_path %>
