<h3>Edit your comment here</h3>
<div class = "show-container">
  <div class = "shows">
    <%=form_for [@company, @contact] do |f| %>
      <%= f.label :name  %>
      <%= f.text_field :name  %>
      <%= f.label :position  %>
      <%= f.text_field :position  %>
      <%= f.label :email  %>
      <%= f.text_field :email  %>
      <%= f.submit %>
    <% end %>
</div>
</div>
