<div class = "text-center" style="padding-top: 50px">
<h1>All Companies</h1>

<% @companies.each do |company| %>
  <ul class=company_<%= company.id %>>
    <div class="row well">
    <h3><%= link_to company.name, company_path(company) %> <small><%= company.city %></small></h3>
    <%= link_to "Edit", edit_company_path(company), :class => "btn btn-default" %>
    <%= link_to "Delete", company_path(company), method: "delete", :class => "btn btn-danger"  %>
    </div>
  </ul>
<% end %>
<p><%= link_to "New Company", new_company_path %></p>
</div>
