<h1>All Categories</h1>
<ul class="list-group">
  <% @categories.each do |category| %>
    <li class="list-group-item">
      <div class=category_<%= category.id %>>
        <h2 style="font-weight: lighter">
          <%= link_to category.title, category_path(category) %>
          <%= link_to "Edit", edit_category_path(category), class: "btn btn-default" %>
          <%= link_to "Delete", category_path(category), method: :delete, class: "btn btn-danger" %>
        </h2>
      </div>
    </li>
  <% end %>
</ul>
<h4><%= link_to "New Category", new_category_path %></h4>
